ifeq ($(origin CC), default)
CC = gcc
endif
DEBUG = -g
LINT = -Wall -pedantic -Wextra
OPTIMIZE = -O2
#TCOVERAGE = -fprofile-arcs -ftest-coverage
#PROFILING = -pg

LIBS = -lgsl -lgslcblas -lfftw3 -lm -lsqlite3

RM = rm -f

#EXE_EXT = .exe

INSTALL = /usr/bin/install -c
INSTALLDIR = /usr/bin/install -c -d
INSTALLDATA = /usr/bin/install -c -m 644

#For a MinGW toolchain:
#prefix = $(MSYSTEM_PREFIX)
prefix = $(DESTDIR)/usr/local
exec_prefix = $(prefix)
datarootdir = $(prefix)/share

BINDIR  = $(exec_prefix)/bin
LIBDIR  = $(exec_prefix)/lib
INCDIR  = $(prefix)/include
PKGDIR  = $(datarootdir)/pkgconfig
VAPIDIR = $(datarootdir)/vala/vapi
